// SCSS variables

$light: white;
$primary: #352C95;
$primary-hovered: #695ee7;
$danger: #e00b0b;
$danger-hovered: #f06565;
$grayed: #CECECE;
$grayed-doubled: #535351;
$dark: black;
$rounded: 6px;
$absolutely-round: 50%;
$card-height: 320px;
$button-scale: .8
